// Colors

$primary: #2DD881;
$dark: #313C39;
$white: #fff;

// breakpoints

$breakpoints : (s : 0, // Todos los tamaños
    md : 40em, // ~ 640px
    lg : 64em, // ~ 1024px
    xl : 84em // ~1400px
) !default;

//  Variables para tipografías

:root {
	--fz-h1: 2rem;
	--fz-h2: 1.2rem;

	@include rwd(lg) {
		--fz-h1: 2.5rem;
		--fz-h2: 1.5rem;
	}
}