a(href="https://www.facebook.com/erick.hl.7587", target="_blank")
    <span class="icon"><i class="fab fa-facebook-f"></i></span>
a(href="https://api.whatsapp.com/send?51981647313=numero&text=Hola quiero información sobre un proyecto web.", target="_blank")
    <span class="icon"><i class="fab fa-whatsapp"></i></span>
a(href="https://www.instagram.com/codeerick/", target="_blank")
    <span class="icon"><i class="fab fa-instagram"></i></span>