extends layout/template

block main
    include sections/header.pug
    include sections/hero.pug
    include sections/about-me.pug
    include sections/projects.pug
    include sections/contact.pug
    include sections/footer.pug