.header {
	height: 5rem;
	background-color: $dark;
	border-bottom: 2px dashed $primary;

	.container {
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		height: 100%;
	}
}

.logo {
	color: $primary;
	width: 70%;
}

.hamburger {
	color: $white !important;
	outline: 0;
	width: 20%;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    background-color: $white;
}

@include rwd(lg) {
	.logo {
		width: 50%;
	}
	
	.hamburger {
		display: none;
	}
}