.hero {
	background-color: #f9f9f9;
	text-align: center;
	--padding: 2rem 1rem 3rem;
	@include rwd(lg) {
		--padding: 6rem 1rem;
	}
	padding: var(--padding);
	// animation: bgColor 3s infinite alternate;
	clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);

	.title {
		margin-top: 7rem;
	}
	
	.subtitle {
		font-size: 1.1em;
		color: rgba($dark, .7);
		font-weight: 300;
		margin-bottom: 1.5rem;
	}
}