section#about.about-me
	.container
		.card.animated
			.card-header
				img(src="https://s3.amazonaws.com/media.skillcrush.com/skillcrush/wp-content/uploads/2018/11/Blog_design_dev.jpg", alt="Desarrollador web")
			.card-body
				h2.subtitle Sobre mí
				p.description  Joven estudiante apasionado por la tecnología, siempre en constante aprendizaje.
				.line
				<a class="btn btn-primary" href="cv-erick-huamani.doc" download="Curriculum Erick Huamani">Curriculum vitae</a>
		.about-details
			.about-projects
				h2.subtitle ¿Qué puedo programar?
				ul.list
					li.list-item Páginas web adaptadas a cualquier dispositivo
					li.list-item Landing pages
					li.list-item Tiendas online
					li.list-item Blogs
					li.list-item Foros
					li.list-item Temas personalizados para Wordpress
					li.list-item Entre otros
			.about-skills
				h2.subtitle Conocimientos técnicos
				ul.list
					li.list-item HTML 5
					li.list-item CSS 3
					li.list-item Javascript
					li.list-item Sass
					li.list-item Vue js
					li.list-item Wordpress
					li.list-item Entre otros...