section#contact.contact
    .container
        h2.subtitle Contacto
        p.description Me gustaría formar parte de tu proyecto.
        .line
        .contact-info
            .email
                h3 Correo electrónico
                .description dev.erick95@gmail.com
            .wssp
                h3 Mi número personal / Whatsapp
                .description (+51) 981 647 313
            .social-networks
                h3 Sígueme en mis redes sociales
                .social-networks.animated.fadeIn
                    include ../components/social_icons.pug