header.header
	.container
		h2.logo Erick Huamani
		<button id="hamburger" class="hamburger hamburger--vortex" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		nav#nav.nav
			ul.menu
				li.menu-item
					a(href="").menu-link Sobre mí
				li.menu-item
					a(href="").menu-link Proyectos
				li.menu-item
					a(href="").btn.btn-primary Contacto