.hero
	h1.title.animated.zoomIn Hola, soy Erick
	h2.subtitle.animated.zoomIn.slow Desarrollador web
	.hero__social-networks.animated.fadeIn
		a(href="https://www.facebook.com/erick.hl.7587", target="_blank")
			img(src="images/facebook.svg", alt="Facebook Erick Huamani")
		a(href="https://www.instagram.com/codeerick/", target="_blank")
			img(src="images/instagram.svg", alt="Instagram Erick Huamani")
		a(href="https://github.com/codeerick95", target="_blank")
			img(src="images/github.svg", alt="Github Erick Huamani")