section#projects.projects
	.container
		h2.subtitle Proyectos desarrollados
		.projects-list
			article.project
				.project-img
					img(src="images/projects/law_firm.png")
				.project-content
					h3.project-title Página web para estudio de abogados.
					a(href="https://distracted-swanson-ec488e.netlify.com/law-firm/dist/index.html", target="_blank").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/kindergarten.png")
				.project-content
					h3.project-title Página web para nido o guardería.
					a(href="https://distracted-swanson-ec488e.netlify.com/kindergarten/index.html", target="_blank").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/sweetbox.png")
				.project-content
					h3.project-title Sweetbox - Librería Javascript para mostrar imágenes en un lightbox.
					a(href="https://codeerick95.github.io/sweetbox_docs/", target="_blank").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/photographer.png")
				.project-content
					h3.project-title Página web de presentación para fotógrafos.
					a(href="https://distracted-swanson-ec488e.netlify.com/photographer/index.html", target="_blank").btn.btn-outline-primary Ver proyecto