section#projects.projects
	.container
		h2.subtitle Proyectos desarrollados
		.projects-list
			article.project
				.project-img
					img(src="images/projects/agap.png")
				.project-content
					h3.project-title Agap - Página web para centro de capacitaciones
					.project-options
						span.btn-link.btn-link-primary Proyecto privado
						a(href="https://agapcapacitaciones.cl", target="_blank").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/law_firm.png")
				.project-content
					h3.project-title Página web para estudio de abogados.
					.project-options
						a(href="https://github.com/codeerick95/estudio-de-abogados", target="_blank").btn-link.btn-link-primary Plantilla libre
						a(href="https://distracted-swanson-ec488e.netlify.com/law-firm/dist/index.html", target="_blank").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/kindergarten.png")
				.project-content
					h3.project-title Plantilla libre - Página web para nido o guardería.
					.project-options
						a(href="https://github.com/codeerick95/kindergarten", target="_blank").btn-link.btn-link-primary Plantilla libre
						a(href="https://distracted-swanson-ec488e.netlify.com/kindergarten/index.html", target="_blank").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/sweetbox.png")
				.project-content
					h3.project-title Sweetbox - Librería Javascript para mostrar imágenes en un lightbox.
					.project-options
						a(href="https://github.com/codeerick95/sweetbox", target="_blank").btn-link.btn-link-primary Librería Javascript
						a(href="https://codeerick95.github.io/sweetbox_docs/", target="_blank").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/photographer.png")
				.project-content
					h3.project-title Plantilla libre - Página web de presentación para fotógrafos.
					.project-options
						a(href="https://github.com/codeerick95/Photographer-Portfolio", target="_blank").btn-link.btn-link-primary Plantilla libre
						a(href="https://distracted-swanson-ec488e.netlify.com/photographer/index.html", target="_blank").btn.btn-outline-primary Ver proyecto