section.projects
	.container
		h2.subtitle Proyectos desarrollados
		.projects-list
			article.project
				.project-img
					img(src="images/projects/law_firm.png")
				.project-content
					h3.project-title Sitio web para estudio de abogados
					a(href="#").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/coffee_shop.png")
				.project-content
					h3.project-title Sitio web para cafetería
					a(href="#").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/startup.png")
				.project-content
					h3.project-title Sitio web para agencia digital
					a(href="#").btn.btn-outline-primary Ver proyecto
			article.project
				.project-img
					img(src="images/projects/law_firm.png")
				.project-content
					h3.project-title Sitio web para estudio de abogados
					a(href="#").btn.btn-outline-primary Ver proyecto